document * {
  display: block;
  margin: 8px;
}
newcave {
 display: none;
}
batcaves {
 display: none;
}
years {
 display:block;
}
years:before {
 content: "years: ";
}
versions {
 display:block;
}
versions:before {
 content: "simana versions: ";
}
categories {
 display:block;
}
categories:before {
 content: "categories: ";
}
bycave {
 display:none;
}
link {
 display:none;
}
info {
 display:block;
 color:red;
 border-color:black;
 background:yellow;
 border-width:thin;
 border-style:solid;
 margin: 2em;
}
info:before {
 content:attr(nickname);
 display:inline;
}
info xsec:before {
 content: "cross section: ";
 display:inline;
}
info settings:before {
 content: "more info: ";
 display:inline;
}
info settings:after {
 content: attr(href);
 display:inline;
}
info target:before {
 content: "requested number of events: ";
 display:inline;
}
a:before {
 color:#00ff00;
 content:attr(href);
 margin-left:2em;
 margin-right:2em;
}
a {
 text-decoration:underline;
 color:#0000FF;
 margin-left:2em;
 margin-right:2em;
}

